@CHARSET "UTF-8";
.main-image
{
	max-width: 400px;
	max-height: 300px;
	min-width: 250px;
}

.detail-image
{
	min-width: 300px;
	min-height: 200px;
	margin-bottom: 50px;
	max-width: 900px;
}

.page-header2
{
	margin-bottom: 50px;
}

.detailInfo
{
	margin-bottom: 50px;
	border-bottom: none;
}

#reviewTable
{
	border: 3px solid #EAEAEA;
}

input[type=button]:hover, input[type=submit]:hover
{
	background-color: #EAEAEA;
}