<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myorder">

<sql id="basic-column-ordersTB">
	orders_no , orders_receiver , orders_phone ,
	orders_zipcode , orders_address , orders_sub_address ,
	orders_total_price , orders_payment , orders_request ,
	orders_payment_status , orders_status , member_id
</sql>


<!-- 배송현황 조회
	상품 발송전 : 0
	배송중 : 1
	배송완료 : 2
	교환신청 : 3
	환불신청 :  4
	
 -->
<select id="select-diliver-status">
	<include refid="basic-column-ordersTB"/>
	FROM orders
	WHERE 
</select>


</mapper>