<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myorder">

<sql id="basic-column-ordersTB">
	orders_no , orders_receiver , orders_phone ,
	orders_zipcode , orders_address , orders_sub_address ,
	orders_total_price , orders_payment , orders_request ,
	orders_payment_status , orders_status ,
	member_id , seller_id , product_id
</sql>

<sql id="join-column" >
			o.orders_no , o.orders_receiver , o.orders_phone ,
			o.orders_zipcode , o.orders_address , o.orders_sub_address ,
			o.orders_total_price , o.orders_payment , o.orders_request ,
			o.payment_status , o.orders_date ,
			o.member_id buyer ,
	
			op.order_amount  , op.orders_no ,  op.product_id  ,op.option_id , 
			op.seller_store_no , op.order_product_status , 
			
			p.product_Id, p.product_name, p.product_price, p.product_stock, 
			p.product_main_image, p.product_info, p.product_like, 
			p.seller_store_no ,
			
			s.seller_store_no, s.seller_store_name, s.seller_tax_id, s.seller_industry, 
			s.seller_sub_industry, s.seller_zipcode, s.seller_address, s.seller_sub_address, 
			s.seller_store_image, s.seller_product1, s.seller_product2, s.seller_product3, 
			s.seller_introduction, s.seller_assign, s.member_id  , 
		
			po.option_id , po.option_name , po.option_sub_name , po.option_stock , po.option_add_price , po.product_id 
</sql>

<sql id="seller-column">
			s.seller_store_no, s.seller_store_name, s.seller_tax_id, s.seller_industry, 
			s.seller_sub_industry, s.seller_zipcode, s.seller_address, s.seller_sub_address, 
			s.seller_store_image, s.seller_product1, s.seller_product2, s.seller_product3, 
			s.seller_introduction, s.seller_assign
</sql>


<resultMap type="com.hwangdang.vo.Orders" id="order-select-basic-resultmap">
	<id  column="orders_no_1"   property="ordersNo" />
	<result column="orders_receiver"   property="ordersReceiver" />
	<result column="orders_phone" property="ordersPhone" />
	<result column="orders_zipcode" property="ordersZipcode" />
	<result column="orders_address" property="ordersAddress" />
	<result column="orders_sub_address" property="ordersSubAddress" />
	<result column="orders_total_price" property="ordersTotalPrice" />
	<result column="orders_payment" property="ordersPayment" />
	<result column="orders_request" property="ordersRequest" />
	<result column="orders_payment_status" property="paymentStatus" />
	<result column="orders_date" property="orders_date" /> 
	<result column="buyer" property="memberId" />
</resultMap>


	<resultMap type="orderProduct" id="orderProduct-basic-resultmap">
		<id column="order_seq_no" property="orderSeqNo"/>
		<result column="order_amount" property="orderAmount"/>
		<result column="orders_no_2" property="ordersNo"/>
		<result column="product_id_1" property="productId"/>
		<result column="option_id_1" property="optionId"/>
		<result column="seller_store_no_1" property="sellerStoreNo"/>
		<result column="order_product_status" property="orderProductStatus"/>
	</resultMap>

	<!-- seller 리절트맵  -->
	<resultMap type="seller" id="seller-basic-resultmap">
		<id column="seller_store_no_2" property="sellerStoreNo"/>
		<result column="seller_store_name" property="sellerStoreName"/>
		<result column="seller_tax_id" property="sellerTaxId"/>
		<result column="seller_industry" property="sellerIndustry"/>
		<result column="seller_sub_industry" property="sellerSubIndustry"/>
		<result column="seller_zipcode" property="sellerZipcode"/>
		<result column="seller_address" property="sellerAddress"/>
		<result column="seller_sub_address" property="sellerSubAddress"/>
		<result column="seller_store_image" property="sellerStoreImage"/>
		<result column="seller_product1" property="sellerProduct1"/>
		<result column="seller_product2" property="sellerProduct2"/>
		<result column="seller_product3" property="sellerProduct3"/>
		<result column="seller_introduction" property="sellerIntroduction"/>
		<result column="seller_assign" property="sellerAssign"/>
		<result column="member_id" property="memberId"/>
	</resultMap>
	  
	
	<!-- 상품 resultMap -->
	<resultMap type="product" id="product-basic-resultMap">
		<id column="product_Id_2" property="productId"/>
		<result column="product_name" property="productName"/>
		<result column="product_price" property="productPrice"/>
		<result column="product_stock" property="productStock"/>
		<result column="product_main_image" property="productMainImage"/>
		<result column="product_info" property="productInfo"/>
		<result column="product_like" property="productLike"/>
		<result column="seller_store_no" property="sellerStoreNo"/>
	</resultMap>
	
	
	<!-- 상품옵션 resultmap -->
	<resultMap type="productOption" id="productoption-basic-resultMap">
		<id column="option_id_2" property="optionId"/>
		<result column="option_name" property="optionName"/>
		<result column="option_sub_name" property="optionSubName"/>
		<result column="option_stock" property="optionStock"/>
		<result column="option_add_price" property="optionAddPrice"/>
		<result column="product_id" property="productId"/>
	</resultMap>
	
	<!-- 주문상품 + 상품 (1:1)-->
	<resultMap type="orderProduct" id="orderProduct-product" extends="orderProduct-basic-resultmap">
		<association property="product" javaType="Product" resultMap="product-basic-resultMap"/>
	</resultMap>
	<!-- 주문상품 + 상품옵션. (1:1)-->
	<resultMap type="orderProduct" id="orderProduct-productoption" extends="orderProduct-product">
		<association property="productOption" javaType="productOption" resultMap="productoption-basic-resultMap"/>
	</resultMap>
	
	<!-- 주문상품 + 셀러. (1:1)-->
	<resultMap type="orderProduct" id="orderProduct-seller" extends="orderProduct-productoption">
		<association property="seller" javaType="seller" resultMap="seller-basic-resultmap"/>
	</resultMap>  
	
	<!-- 주문, 상품 ,주문상품 Join -->
	<resultMap type="orders" id="orders-orderProduct-join" extends="order-select-basic-resultmap">
		<collection property="orderProductList" ofType="orderProduct" resultMap="orderProduct-seller"/>
	</resultMap>
	
  	
<!-- 배송현황 조회
	배송현황 - 입금대기중 : 0 
	배송현황 - 결제완료 : 1
	배송현황 - 배송준비중 : 2
	배송현황 - 배송중 : 3
	배송완료 - 배송완료 : 4
	교환/환불/취소 -  교환신청 : 5
	교환/환불/취소 -  환불신청 :  6 
	교환/환불/취소 - 구매취소(배송전) :  7 
 -->	
	
<select id="select-diliver-status" parameterType="map"  resultMap="orders-orderProduct-join" >
	
	SELECT 
		orders_no_1 , orders_receiver , orders_phone ,    orders_zipcode ,
		orders_address , orders_sub_address ,    orders_total_price ,
		orders_payment , orders_request , payment_status , orders_date ,  buyer ,    
		
		order_seq_no , order_amount  , orders_no_2 ,  product_id_1  ,option_id_1 , 
		seller_store_no_1 , order_product_status ,        
		
		product_Id_2 , product_name , product_price, product_stock,   
		product_main_image, product_info, product_like, seller_store_no ,  
		
		seller_store_no_2 , seller_store_name, seller_tax_id, seller_industry,    
		seller_sub_industry, seller_zipcode, seller_address, seller_sub_address,     
		seller_store_image, seller_product1, seller_product2, seller_product3,    
		seller_introduction, seller_assign, member_id  ,        
				
		option_id_2 , option_name , option_sub_name , option_stock , 
		option_add_price ,  product_id 
		
	FROM ( SELECT   
		orders_no_1 , orders_receiver , orders_phone ,    orders_zipcode ,
		orders_address , orders_sub_address ,    orders_total_price ,
		orders_payment , orders_request , payment_status , orders_date ,  buyer ,    
		
		order_seq_no , order_amount  , orders_no_2 ,  product_id_1  ,option_id_1 , 
		seller_store_no_1 , order_product_status ,        
		
		product_Id_2 , product_name , product_price, product_stock,   
		product_main_image, product_info, product_like, seller_store_no ,  
		
		
		seller_store_no_2 , seller_store_name, seller_tax_id, seller_industry,    
		seller_sub_industry, seller_zipcode, seller_address, seller_sub_address,     
		seller_store_image, seller_product1, seller_product2, seller_product3,    
		seller_introduction, seller_assign, member_id  ,        
		
		option_id_2 , option_name , option_sub_name , option_stock , 
		option_add_price ,  product_id  ,  ceil( rownum / #{itemPerPage} ) page  
	
		FROM (  SELECT    
			o.orders_no orders_no_1 , o.orders_receiver , o.orders_phone ,
			o.orders_zipcode , o.orders_address , o.orders_sub_address ,   
			o.orders_total_price , o.orders_payment , o.orders_request ,    
			o.payment_status , o.orders_date ,    o.member_id buyer ,     
			
			op.order_seq_no , op.order_amount  , op.orders_no orders_no_2 ,  
			op.product_id product_id_1  ,op.option_id option_id_1  ,    
			op.seller_store_no seller_store_no_1 , op.order_product_status ,   
			
			p.product_Id product_id_2 , p.product_name, p.product_price, p.product_stock,   
			p.product_main_image, p.product_info, p.product_like,   p.seller_store_no  ,       
			
			s.seller_store_no seller_store_no_2 , s.seller_store_name, s.seller_tax_id, s.seller_industry,    
			s.seller_sub_industry, s.seller_zipcode, s.seller_address, s.seller_sub_address,     
			s.seller_store_image, s.seller_product1, s.seller_product2, s.seller_product3,     
			s.seller_introduction, s.seller_assign, s.member_id  ,       
			
			po.option_id option_id_2,  po.option_name , po.option_sub_name ,
			po.option_stock , po.option_add_price , po.product_id        
		
		FROM   orders o ,  order_product op , product p  ,seller s  , product_option po 
		
		WHERE  o.member_id =   #{buyer}  
		AND    o.orders_no =  op.orders_no(+)   
		AND    op.product_id =  p.product_Id  
		AND    op.seller_store_no =  s.seller_store_no   
		AND    op.option_id  =  po.option_id  
		AND    op.order_product_status IN (0,1,2,3,4)  
		ORDER BY o.orders_date DESC 
		)  
	)WHERE page = #{page}
</select>

<!-- 주문취소/교환/환불 조회 -->		
<select id="select-diliver-cancel" parameterType="map"  resultMap="orders-orderProduct-join" >
	SELECT 
		orders_no_1 , orders_receiver , orders_phone ,    orders_zipcode ,
		orders_address , orders_sub_address ,    orders_total_price ,
		orders_payment , orders_request , payment_status , orders_date ,  buyer ,    
		
		order_seq_no , order_amount  , orders_no_2 ,  product_id_1  ,option_id_1 , 
		seller_store_no_1 , order_product_status ,        
		
		product_Id_2 , product_name , product_price, product_stock,   
		product_main_image, product_info, product_like, seller_store_no ,  
		
		seller_store_no_2 , seller_store_name, seller_tax_id, seller_industry,    
		seller_sub_industry, seller_zipcode, seller_address, seller_sub_address,     
		seller_store_image, seller_product1, seller_product2, seller_product3,    
		seller_introduction, seller_assign, member_id  ,        
				
		option_id_2 , option_name , option_sub_name , option_stock , 
		option_add_price ,  product_id 
		
	FROM ( SELECT   
		orders_no_1 , orders_receiver , orders_phone ,    orders_zipcode ,
		orders_address , orders_sub_address ,    orders_total_price ,
		orders_payment , orders_request , payment_status , orders_date ,  buyer ,    
		
		order_seq_no , order_amount  , orders_no_2 ,  product_id_1  ,option_id_1 , 
		seller_store_no_1 , order_product_status ,        
		
		product_Id_2 , product_name , product_price, product_stock,   
		product_main_image, product_info, product_like, seller_store_no ,  
		
		
		seller_store_no_2 , seller_store_name, seller_tax_id, seller_industry,    
		seller_sub_industry, seller_zipcode, seller_address, seller_sub_address,     
		seller_store_image, seller_product1, seller_product2, seller_product3,    
		seller_introduction, seller_assign, member_id  ,        
		
		option_id_2 , option_name , option_sub_name , option_stock , 
		option_add_price ,  product_id  ,  ceil( rownum / #{itemPerPage} ) page  
	
		FROM (  SELECT    
			o.orders_no orders_no_1 , o.orders_receiver , o.orders_phone ,
			o.orders_zipcode , o.orders_address , o.orders_sub_address ,   
			o.orders_total_price , o.orders_payment , o.orders_request ,    
			o.payment_status , o.orders_date ,    o.member_id buyer ,     
			
			op.order_seq_no , op.order_amount  , op.orders_no orders_no_2 ,  
			op.product_id product_id_1  ,op.option_id option_id_1  ,    
			op.seller_store_no seller_store_no_1 , op.order_product_status ,   
			
			p.product_Id product_id_2 , p.product_name, p.product_price, p.product_stock,   
			p.product_main_image, p.product_info, p.product_like,   p.seller_store_no  ,       
			
			s.seller_store_no seller_store_no_2 , s.seller_store_name, s.seller_tax_id, s.seller_industry,    
			s.seller_sub_industry, s.seller_zipcode, s.seller_address, s.seller_sub_address,     
			s.seller_store_image, s.seller_product1, s.seller_product2, s.seller_product3,     
			s.seller_introduction, s.seller_assign, s.member_id  ,       
			
			po.option_id option_id_2,  po.option_name , po.option_sub_name ,
			po.option_stock , po.option_add_price , po.product_id        
		
		FROM   orders o ,  order_product op , product p  ,seller s  , product_option po 
		
		WHERE  o.member_id =   #{buyer}  
		AND    o.orders_no =  op.orders_no(+)   
		AND    op.product_id =  p.product_Id  
		AND    op.seller_store_no =  s.seller_store_no   
		AND    op.option_id  =  po.option_id  
		AND    op.order_product_status IN (5,6,7,8,9)  
		ORDER BY o.orders_date DESC 
		)  
	)WHERE page = #{page}
</select>

<!-- 배송 완료 조회 -->		
<select id="select-diliver-success" parameterType="map"  resultMap="orders-orderProduct-join" >
	
	SELECT 
		orders_no_1 , orders_receiver , orders_phone ,    orders_zipcode ,
		orders_address , orders_sub_address ,    orders_total_price ,
		orders_payment , orders_request , payment_status , orders_date ,  buyer ,    
		
		order_seq_no , order_amount  , orders_no_2 ,  product_id_1  ,option_id_1 , 
		seller_store_no_1 , order_product_status ,        
		
		product_Id_2 , product_name , product_price, product_stock,   
		product_main_image, product_info, product_like, seller_store_no ,  
		
		seller_store_no_2 , seller_store_name, seller_tax_id, seller_industry,    
		seller_sub_industry, seller_zipcode, seller_address, seller_sub_address,     
		seller_store_image, seller_product1, seller_product2, seller_product3,    
		seller_introduction, seller_assign, member_id  ,        
				
		option_id_2 , option_name , option_sub_name , option_stock , 
		option_add_price ,  product_id 
		
	FROM ( SELECT   
		orders_no_1 , orders_receiver , orders_phone ,    orders_zipcode ,
		orders_address , orders_sub_address ,    orders_total_price ,
		orders_payment , orders_request , payment_status , orders_date ,  buyer ,    
		
		order_seq_no , order_amount  , orders_no_2 ,  product_id_1  ,option_id_1 , 
		seller_store_no_1 , order_product_status ,        
		
		product_Id_2 , product_name , product_price, product_stock,   
		product_main_image, product_info, product_like, seller_store_no ,  
		
		
		seller_store_no_2 , seller_store_name, seller_tax_id, seller_industry,    
		seller_sub_industry, seller_zipcode, seller_address, seller_sub_address,     
		seller_store_image, seller_product1, seller_product2, seller_product3,    
		seller_introduction, seller_assign, member_id  ,        
		
		option_id_2 , option_name , option_sub_name , option_stock , 
		option_add_price ,  product_id  ,  ceil( rownum / #{itemPerPage} ) page  
	
		FROM (  SELECT    
			o.orders_no orders_no_1 , o.orders_receiver , o.orders_phone ,
			o.orders_zipcode , o.orders_address , o.orders_sub_address ,   
			o.orders_total_price , o.orders_payment , o.orders_request ,    
			o.payment_status , o.orders_date ,    o.member_id buyer ,     
			
			op.order_seq_no , op.order_amount  , op.orders_no orders_no_2 ,  
			op.product_id product_id_1  ,op.option_id option_id_1  ,    
			op.seller_store_no seller_store_no_1 , op.order_product_status ,   
			
			p.product_Id product_id_2 , p.product_name, p.product_price, p.product_stock,   
			p.product_main_image, p.product_info, p.product_like,   p.seller_store_no  ,       
			
			s.seller_store_no seller_store_no_2 , s.seller_store_name, s.seller_tax_id, s.seller_industry,    
			s.seller_sub_industry, s.seller_zipcode, s.seller_address, s.seller_sub_address,     
			s.seller_store_image, s.seller_product1, s.seller_product2, s.seller_product3,     
			s.seller_introduction, s.seller_assign, s.member_id  ,       
			
			po.option_id option_id_2,  po.option_name , po.option_sub_name ,
			po.option_stock , po.option_add_price , po.product_id        
		
		FROM   orders o ,  order_product op , product p  ,seller s  , product_option po 
		
		WHERE  o.member_id =   #{buyer}  
		AND    o.orders_no =  op.orders_no(+)   
		AND    op.product_id =  p.product_Id  
		AND    op.seller_store_no =  s.seller_store_no   
		AND    op.option_id  =  po.option_id  
		AND    op.order_product_status IN (10)  
		ORDER BY o.orders_date DESC 
		)  
	)WHERE page = #{page}
</select>


<!-- 환불신청 : order_product TB orders_status 6 으로 상태 변경 -->
<!-- 교환신청 : order_product TB orders_status 5 으로 상태 변경 -->
<!-- 구매확정  : order_product TB orders_status 10 으로 상태 변경 -->
<update id="update-by-orderNo"  parameterType="map">
	update order_product
	SET order_product_status = #{status}
	WHERE order_seq_no = #{no} 
</update>

<!-- 셀러명으로 셀러정보 조회 -->
<select id="select-seller-by-sellerName" parameterType="string" resultMap="seller-basic-resultmap">
	SELECT  <include refid="seller-column"/>
	FROM seller s
	WHERE  s.seller_store_name = #{storeName}
</select>

<!-- order_product - 배송현황  전체튜플조회 -->
<select id="select-orders-total-couont" resultType="_int" parameterType="map"  >
	SELECT count(*) FROM order_product 
	WHERE order_product_status IN (
	#{value1} ,#{value2},#{value3},#{value4},#{value5}  )    
</select>


<!-- 교환신청 처리  -->
<insert id="insert-requestExchange"  parameterType="exchangeRequest">
	INSERT INTO  exchange_request
	VALUES ( #{exchageTitle}, #{exchangeContent}, #{orderSeqNo} )
</insert>
	
	

</mapper>