<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
	<sql id="orders-join">
		o.orders_no, o.orders_receiver, o.orders_phone, o.orders_zipcode, o.orders_address, o.orders_sub_address,
		o.orders_total_price, o.orders_payment, o.orders_request, o.payment_status, o.orders_status, o.member_id
	</sql>
	<sql id="product-join">
		p.product_Id, p.product_name, p.product_price, p.product_stock, p.product_main_image, 
		p.product_info, p.product_like, p.seller_store_no
	</sql>
	<sql id="orderProduct-join">
		op.order_amount, op.orders_no as op_orders_no, op.product_id as op_product_id, op.option_id
	</sql>
	<sql id="order-join-column">
		orders_no, orders_receiver, orders_phone, orders_zipcode, orders_address, orders_sub_address,
		orders_total_price, orders_payment, orders_request, payment_status, orders_status, member_id,
		product_Id, product_name, product_price, product_stock, product_main_image, 
		product_info, product_like, seller_store_no,
		order_amount, op_orders_no, op_product_id, option_id
	</sql>
	<!-- 주문 기본 리절트맵 -->
	<resultMap type="orders" id="orders-basic-resultmap">
		<id column="orders_no" property="ordersNo"/>
		<result column="orders_receiver" property="ordersReceiver"/>
		<result column="orders_phone" property="ordersPhone"/>
		<result column="orders_zipcode" property="ordersZipcode"/>
		<result column="orders_address" property="ordersAddress"/>
		<result column="orders_sub_address" property="ordersSubAddress"/>
		<result column="orders_total_price" property="ordersTotalPrice"/>
		<result column="orders_payment" property="ordersPayment"/>
		<result column="orders_request" property="ordersRequest"/>
		<result column="payment_status" property="paymentStatus"/>
		<result column="orders_status" property="ordersStatus"/>
		<result column="member_id" property="memberId"/>
	</resultMap>
	
	<!-- 주문상품 리절트맵. -->
	<resultMap type="orderProduct" id="orderProduct-basic-resultmap">
		<result column="order_amount" property="orderAmount"/>
		<result column="orders_no" property="ordersNo"/>
		<result column="product_id" property="productId"/>
		<result column="option_id" property="optionId"/>
	</resultMap>
	
	<!-- 주문, 상품 ,주문상품 Join -->
	<resultMap type="orders" id="orders-product-orderProduct" extends="orders-basic-resultmap">
		<association property="product" javaType="Product" resultMap="productMapper.product-basic-resultMap"/>
		<association property="orderProduct" javaType="OrderProduct" resultMap="orderProduct-basic-resultmap"/>
	</resultMap>
	
	<!-- 페이징추가해야함.  -->
	<select id="selectOrderState" parameterType="map"  resultMap="orders-product-orderProduct">
		select 	<include refid="order-join-column"/>
		from		(select ceil(rownum/#{itemPerPage}) page, <include refid="order-join-column"/>
					from (select <include refid="orders-join"/>, <include refid="product-join"/>, <include refid="orderProduct-join"/>
							from 		orders o, product p, order_product op 
							where 	op.orders_no = o.orders_no
							and	 	op.product_id = p.product_id
							and		p.seller_store_no = #{sellerStoreNo} order by op.orders_no desc))
		where		page = #{page}
	</select>
	
	<!-- 주문상품갯수조회. -->
	<select id="selectOrderCount" parameterType="_int" resultType="_int">
		select 	count(op.orders_no)
		from 		order_product op, orders o, product p 
		where		op.orders_no = o.orders_no
		and		op.product_id = p.product_id
		and		p.seller_store_no = #{sellerStoreNo}
	</select>
</mapper>