<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">
	<sql id="product-columns">
		product_Id, product_name, product_price, product_stock, product_main_image, product_info, product_like, seller_store_no
	</sql>
	<sql id="select-basic">
		SELECT <include refid="product-columns"/> FROM product 
	</sql>
	
	<!-- 상품 resultMap -->
	<resultMap type="product" id="product-basic-resultMap">
		<id column="product_Id" property="productId"/>
		<result column="product_name" property="productName"/>
		<result column="product_price" property="productPrice"/>
		<result column="product_stock" property="productStock"/>
		<result column="product_main_image" property="productMainImage"/>
		<result column="product_info" property="productInfo"/>
		<result column="product_like" property="productLike"/>
		<result column="seller_store_no" property="sellerStoreNo"/>
	</resultMap>
	
	<!-- 상품 전체 조회. (추천 순, Paging, sellerStoreNo로 조회.)-->
	<select id="selectAll" resultMap="product-basic-resultMap" parameterType="map">
		select <include refid="product-columns"/> 
		from (select ceil(rownum/#{itemPerPage}) page, <include refid="product-columns"/>
				from (select <include refid="product-columns"/> 
						from product where seller_store_no=#{sellerStoreNo} order by product_like desc))
		where page = #{page}
	</select>
	
	<!-- 상품 전체 갯수 조회. -->
	<select id="selectCount" resultType="_int">
		select count(product_id) from product
	</select>
	
	<!-- sellerStoreNo로 등록된 상품 갯수 조회. -->
	<select id="selectCountByNo" resultType="_int" parameterType="_int">
		select count(product_id) from product where seller_store_no=#{sellerStoreNo}
	</select>
</mapper>